services:
  web:
    build:
      context: .
      target: dev
    depends_on: 
      db:
        condition: service_healthy
      broker:
        condition: service_healthy
    ports:
      - "8000:8000"
    mem_limit: 1024M
    environment:
      - DEBUG=1
      - SECRET_KEY="Not so secret developer key"
      - DATABASE_URL=postgres://postgres:insecuredefaultpassword@db/postgres
      - BROKER_URL=amqp://broker

      # Internal test OAuth provider configuration
      - OAUTHLIB_INSECURE_TRANSPORT=1
      - TEST_OAUTH_PROVIDER=1

      # ConCat testing configuration
      # - CONCAT_API="https://reg-test.furtherconfusion.org/api"
      # - OAUTH_AUTHORIZE_URL="https://reg-test.furtherconfusion.org/oauth/authorize"
      # - OAUTH_TOKEN_URL="https://reg-test.furtherconfusion.org/api/oauth/token"
      # - OAUTH_CLIENT_ID="<FILL IN>"
      # - OAUTH_CLIENT_SECRET="<FILL IN>"
    volumes:
      - ./:/code # Map source directory over /code for development purposes.
  db:
    image: "postgres:alpine"
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=insecuredefaultpassword
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
  broker:
    image: "rabbitmq"
    volumes:
      - broker-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db-data:
  broker-data:
