[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.*"
django-ajax-selects = "*"
django-appconf = "*"
django-celery-results = "*"
django-formtools = "*"
django-ses = "*"
gunicorn = "*"
"num2words" = "*"
pdfrw = "*"
reportlab = "*"
requests = "*"
requests-oauthlib = "*"
psycopg = {extras = ["binary"],version = "*"}
supervisor = "*"
environs = {extras = ["django"],version = "*"}
celery = {extras = ["sqs"],version = "*"}
squareup = "*"

[dev-packages]
"django-debug-toolbar" = "*"
"flake8" = "*"
oauthlib = "*"

[requires]
python_version = "3.12"

[scripts]
gunicorn = "gunicorn wsgi"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic --noinput"
test = "python manage.py test"
