[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.*"
django-ajax-selects = "*"
django-appconf = "*"
django-formtools = "*"
django-nocaptcha-recaptcha = "*"
django-ses = "*"
gunicorn = "*"
"num2words" = "*"
squareconnect = "*"
pdfrw = "*"
Pillow = "==5.2.0"
reportlab = "==3.5.9"
requests = "*"
psycopg2 = "*"
supervisor = "*"
environs = {extras = ["django"],version = "*"}

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"

[scripts]
gunicorn = "gunicorn wsgi"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic --noinput"
test = "python manage.py test"
