[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.*"
django-ajax-selects = "*"
django-appconf = "*"
django-celery-results = "*"
django-celery-email = "*"
django-formtools = "*"
django-nocaptcha-recaptcha = "*"
django-ses = "*"
gunicorn = "*"
"num2words" = "*"
squareconnect = "*"
pdfrw = "*"
Pillow = "==10.0.1"
reportlab = "==3.5.68"
requests = "*"
requests-oauthlib = "*"
psycopg2 = "*"
supervisor = "*"
environs = {extras = ["django"],version = "*"}
celery = {extras = ["sqs"],version = "*"}

[dev-packages]
"django-debug-toolbar" = "*"
"flake8" = "*"
oauthlib = "*"

[requires]
python_version = "3.10"

[scripts]
gunicorn = "gunicorn wsgi"
server = "python manage.py runserver"
migrate = "python manage.py migrate"
collectstatic = "python manage.py collectstatic --noinput"
test = "python manage.py test"
