{% extends "artshow/base_generic.html" %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow-reports' %}">Reports</a></li>
        <li class="current">Allocations Waiting</li>
    </ul>
{% endblock %}
{% block content %}
    {% for section_name, spaces in sections %}
        <h2>{{ section_name }}</h2>
        {% for space, artists in spaces.items %}
            <h3>{{ space }}</h3>
            <table class="report">
                <tr>
                    <th>Artist</th>
                    <th>Requsted</th>
                    <th>Allocated</th>
                </tr>
                {% for a in artists %}
                    <tr>
                        <td><a href="{% url 'admin:artshow_artist_change' a.artistid %}">{{ a.artist }}</a></td>
                        <td>{{ a.requested }}</td>
                        <td>{{ a.allocated }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
