{% extends "artshow/base_generic.html" %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow-reports' %}">Reports</a></li>
        <li class="current">Artist to Panel Report</li>
    </ul>
{% endblock %}
{% block content %}
    <title>Artist to Panel Report | {{ SITE_NAME }}</title>

<table>
<tr><th>Artist ID</th><th>Artist Name</th><th>Locations Assigned</th><th>Locations Used</th><th>Spaces Assigned</th></tr>
{% for artist in artists %}
<tr><td>{{ artist.artistid }}</td><td>{{ artist.artistname }}</td><td>{{ artist.locations|join:', ' }}</td><td>{{ artist.used_locations|join:", " }}</td><td>{{ artist.allocated_spaces }}</td></tr>{% endfor %}
</table>

{% endblock %}

