{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bid Sheet Entry</title>
<script type="text/javascript" src="{% static 'artshow/js.cookie-2.2.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'artshow/bid_entry.js' %}"></script>
<link rel="stylesheet" href="{% static 'artshow/bid_entry.css' %}">
</head>
<body>
<div class="header">
  <div>Artist Id</div>
  <input type="text" size="4" pattern="[0-9]*" inputmode="numeric" id="artist" autofocus>
  <div>Piece Id</div>
  <input type="text" size="4" pattern="[0-9]*" inputmode="numeric" id="piece">
  <button type="button" id="load">Load</button>
</div>
<hr>
<div class="bid_entry">
  <div class="location_label center">Location:</div>
  <input type="text" size="4" id="location">
  <div class="bidder_label">Bidder Id</div>
  <div>Bid</div>
  <div>AB</div>
  {% for slot in bid_slots %}
  <div class="center">{{ slot }}.</div>
  <input type="text" size="8" pattern="[0-9]*" inputmode="numeric" class="bidder">
  <input type="text" size="4" pattern="[0-9]*" inputmode="numeric" class="bid">
  <input type="checkbox" class="autobuy">
  {% endfor %}
</div>
<hr>
<div class="status">
  <div id="status"></div>
  <button type="button" id="save">Save</button>
</div>
<script>
</script>
</body>
</html>
