{% load static %}
{% load humanize %}
<html>
<head>
<title>Art Show Bid Sheets {% if artist %}({{ artist.name }}){% endif %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'artshow/bid_sheets.css' %}">
</head>
<body>
{% for piece in pieces %}
<div class="page">
  <div class="bid-sheet">
    <div class="location"></div>
    <div class="bid-info">
      {% if not piece.not_for_sale %}
      <div class="label">Minimum Bid</div>
      <div>${{ piece.min_bid|intcomma }}</div>
      <div class="label">Auto Buy</div>
      <div>{% if piece.buy_now %}1st bid only{% else %}N/A{% endif %}</div>
      {% endif %}
    </div>
    <div class="piece-id">{{ piece.code }}</div>
    <div class="field">
      <div class="field-label">Artist</div>
      <div class="field-line">{{ piece.artist.artistname|default:"&nbsp" }}</div>
    </div>
    <div class="field">
      <div class="field-label">Title</div>
      <div class="field-line">{{ piece.name|default:"&nbsp" }}</div>
    </div>
    <div class="field">
      <div class="field-label">Media</div>
      <div class="field-line">{{ piece.media|default:"&nbsp" }}</div>
    </div>
    {% if piece.not_for_sale %}
    <div class="not-for-sale">
      Not For Sale
    </div>
    {% else %}
    <div class="bid-stickers">
      <div class="bid-sticker"><span>Place 1st bid here{% if piece.buy_now %}, or auto buy for ${{ piece.buy_now|intcomma }}{% endif %}.</span></div>
      <div class="bid-sticker"><span>Place 2nd bid here.</span></div>
      <div class="bid-sticker"><span>Place 3rd bid here.</span></div>
      <div class="bid-sticker"><span>Place 4th bid here.</span></div>
      <div class="bid-sticker"><span>Place 5th bid here.</span></div>
      <div class="bid-sticker"><span>Place final bid here.</span></div>
    </div>
    <div class="instructions">
      A piece with 6 bids will be taken to voice auction.
      {% if piece.buy_now %}See a staff member to lock in an auto buy bid.{% endif %}
    </div>
    <div class="instructions">
      {% if piece.reproduction_rights_included %}
      This sale includes reproduction rights.
      {% else %}
      This sale <em>does not</em> include reproduction rights.
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{% if print %}
<script>
{% if redirect %}
window.addEventListener('afterprint', () => {
  document.location = "{{ redirect }}";
});
{% endif %}
window.print();
</script>
{% endif %}
</body>
</html>
