{% extends "artshow/manage_base.html" %}
{% block title %}Bidder Self-Registration{% endblock %}
{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current">Bidder Self-Registration</li>
</ul>
{% endblock %}
{% block content %}
<h1>Bidder Self-Registration</h1>

<p><b>Almost done!</b></p>

<p>Please see the Art Show Staff next to sign the bidder agreement. We'll give you the stickers you'll need to place bids, as well as a handy instruction sheet.</p>

<p>Keep your convention badge handy. We'll need it for identification.</p>

<p>This page will automatically reset in <span id="time_remaining">30</span> seconds.</p>

<button id="return_to_start" >&lt;&lt; Ready for next Bidder</button>

<script>
function return_to_start() {
  window.location = "{% url 'artshow-bidderreg-wizard' %}";
  return false;
}

document.getElementById('return_to_start').addEventListener('click', return_to_start);

let time_remaining = 30;
setInterval(() => {
  time_remaining--;
  document.getElementById('time_remaining').textContent = time_remaining;
  if (time_remaining == 0) {
    return_to_start();
  }
}, 1000);
</script>
{% endblock %}
