{% extends "artshow/base_generic.html" %}
{% load static %}
{% block title %}Invoice{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'artshow/esc-pos-encoder-415c2c8.js' %}"></script>
{% endblock %}
{% block content %}
<h3>Invoice</h3>
<table>
  <tr><td>Invoice ID</td><td>{{ invoice_prefix }}{{ invoice.id }}</td></tr>
  <tr><td>Date</td><td>{{ invoice.paid_date }}</td></tr>
  <tr><td>Invoicee</td><td>{{ invoice.payer.name }}</td></tr>
  <tr><td>Bidder ID{{ invoice.payer.bidder_ids|pluralize }}</td><td>{{ invoice.payer.bidder_ids|join:"," }}</td></tr>
</table>
<h4>Items</h4>
<table>
<tr><th>Item</th><th>Amount</th></tr>
{% for item in invoice.invoiceitem_set.all %}
<tr><td>{{ item.piece }}</td><td class="money">{{ item.price|floatformat:money_precision }}</td></tr>
{% endfor %}
<tr class="lastrow"><td>Subtotal</td><td class="money">{{ invoice.item_total|floatformat:money_precision }}</td></tr>
<tr><td>{{ tax_description }}</td><td class="money">{{ invoice.tax_paid|floatformat:money_precision }}</td></tr>
<tr class="lastrow"><td>Total with Tax</td><td class="money">{{ invoice.item_and_tax_total|floatformat:money_precision }}</td></tr>
</table>
<h4>Payments</h4>
<table>
<tr><th>Type</th><th>Notes</th><th>Amount</th></tr>
{% for payment in invoice.invoicepayment_set.all %}
<tr><td>{{ payment.get_payment_method_display }}</td><td>{{ payment.notes }}</td><td class="money">{{ payment.amount|floatformat:money_precision }}</td></tr>
{% endfor %}
<tr class="lastrow"><td colspan="2" align="right">Payment Total</td><td class="money">{{ invoice.total_paid|floatformat:money_precision }}</td></tr>
</table>
{% if invoice.item_and_tax_total != invoice.total_paid %}<p><strong>Oh crap; item total and payment total do not match!</strong></p>
{% endif %}
<iframe id="invoice_iframe" src="{{ print_invoice_url }}" style="display: none"></iframe>
<button id="print_invoice">Print Invoice</button>
<script>
document.getElementById('print_invoice').addEventListener('click', function () {
  document.getElementById('invoice_iframe').contentWindow.print();
});
</script>
{% if invoice.notes %}
<h4>Notes</h4>
<p>{{ invoice.notes }}</p>
{% endif %}

<script>
const supportedPrinters = [
    { vendorId: 1208, productId: 514 },  // Epson TM-T88V
];

function isSupported(device) {
    for (const printer of supportedPrinters) {
        if (device.vendorId == printer.vendorId &&
            device.productId == printer.productId) {
            return true;
        }
    }
    return false;
}

let receiptPrinterStatus;
let selectedDevice = null;

function setUpReceiptPrinter(statusElementId) {
  receiptPrinterStatus = document.getElementById(statusElementId);

    navigator.usb.getDevices().then((devices) => {
        for (const device of devices) {
            if (isSupported(device)) {
                selectedDevice = device;
                receiptPrinterStatus.textContent = 'Receipt printer ready.';
            }
        }
    });

    navigator.usb.addEventListener('connect', (e) => {
        if (selectedDevice == null && isSupported(e.device)) {
            selectedDevice = e.device;
            receiptPrinterStatus.textContent = 'Receipt printer ready.';
        }
    });

    navigator.usb.addEventListener('disconnect', (e) => {
        if (selectedDevice == e.device) {
            selectedDevice = null;
            receiptPrinterStatus.textContent = 'Receipt printer disconnected.';
        }
    });
}

async function printReceipt(data) {
    if (selectedDevice === null) {
        try {
            selectedDevice = await navigator.usb.requestDevice({ filters: supportedPrinters });
        } catch (e) {
            receiptPrinterStatus.textContent = 'No printer selected.';
            return;
        }
    }

    await selectedDevice.open();

    try {
        await selectedDevice.selectConfiguration(1);
        await selectedDevice.claimInterface(0);
        await selectedDevice.transferOut(1, data);
    } finally {
        await selectedDevice.close();
    }
}
</script>

<p>
  <button id="print-invoice">Print</button>
  <span id="receipt-printer-status">No receipt printer detected.</span>
</p>

<script>
setUpReceiptPrinter('receipt-printer-status');

function stringElipsis(text, length) {
    if (text.length > length) {
        return text.slice(0, length - 3) + '...';
    }
    return text
}

document.getElementById('print-invoice').addEventListener('click', async () => {
  const pickListData = [
{% for item in invoice.invoiceitems %}
    [ '{{ item.piece.code|escapejs }} - {{ item.piece.artistname }}'.slice(0, 38),
      '{{ item.piece.location|escapejs }}' ],
    [ '"' + stringElipsis('{{ item.piece.name|escapejs }}', 36) + '"', ''],
{% endfor %}
  ];

  const pageWidth = 42;
  const encoder = new EscPosEncoder();
  const result = encoder
      .initialize()
      //.raw([27, 77, 1])
/*
      // Merchant copy
      .align('center')
      .width(2)
      .height(2)
      .line('Invoice', pageWidth)
      .newline()
      .width(1)
      .height(1)
      .align('left')
      .line("12345678901234567890123456789012345678901234567890")
      .line("Hello world!")

      // For testing, use lots of newlines instead of actually cutting. 
      .newline()
      .newline()
      // .raw([0x1D, 0x56, 65])  // Feed and cut.

      // Customer copy
      .align('center')
      .width(2)
      .height(2)
      .line('Receipt', pageWidth)
      .newline()
      .width(1)
      .height(1)
      .align('left')
      .line("12345678901234567890123456789012345678901234567890")
      .line("Hello world!")

      .newline()
      .newline()
      // .raw([0x1D, 0x56, 65])  // Feed and cut.
*/
      // Pick list
      .align('center')
      .width(2)
      .height(2)
      .line('Pick List', pageWidth)
      .newline()
      .width(1)
      .height(1)
      .align('left')
      .line('Item                              Location')
      .table(
        [
          { width: 38, align: 'left'},
          { width: 4, align: 'right' },
        ],
        pickListData
      )

      // For testing, use lots of newlines instead of actually cutting. 
      .newline()
      .newline()
      .newline()
      .newline()
      .newline()
      .newline()
      .newline()
      .newline()
      .newline()
      .newline()
      // .raw([0x1D, 0x56, 65])  // Feed and cut.
      .encode();
  console.log(result);
  printReceipt(result);
});

</script>


{% endblock %}
