{% extends "artshow/base_generic.html" %}
{% load static %}
{% block title %}Invoice{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'artshow/esc-pos-encoder-415c2c8.js' %}"></script>
<script type="text/javascript" src="{% static 'artshow/receipt_printer.js' %}"></script>
{% endblock %}
{% block content %}
<h3>Invoice</h3>
<table>
  <tr><td>Invoice ID</td><td>{{ invoice_prefix }}{{ invoice.id }}</td></tr>
  <tr><td>Date</td><td>{{ invoice.paid_date }}</td></tr>
  <tr><td>Invoicee</td><td>{{ invoice.payer.name }}</td></tr>
  <tr><td>Bidder ID{{ invoice.payer.bidder_ids|pluralize }}</td><td>{{ invoice.payer.bidder_ids|join:"," }}</td></tr>
</table>
<h4>Items</h4>
<table>
<tr><th>Item</th><th>Amount</th></tr>
{% for item in invoice.invoiceitem_set.all %}
<tr><td>{{ item.piece }}</td><td class="money">{{ item.price|floatformat:money_precision }}</td></tr>
{% endfor %}
<tr class="lastrow"><td>Subtotal</td><td class="money">{{ invoice.item_total|floatformat:money_precision }}</td></tr>
<tr><td>{{ tax_description }}</td><td class="money">{{ invoice.tax_paid|floatformat:money_precision }}</td></tr>
<tr class="lastrow"><td>Total with Tax</td><td class="money">{{ invoice.item_and_tax_total|floatformat:money_precision }}</td></tr>
</table>
<h4>Payments</h4>
<table>
<tr><th>Type</th><th>Notes</th><th>Amount</th></tr>
{% for payment in invoice.invoicepayment_set.all %}
<tr><td>{{ payment.get_payment_method_display }}</td><td>{{ payment.notes }}</td><td class="money">{{ payment.amount|floatformat:money_precision }}</td></tr>
{% endfor %}
<tr class="lastrow"><td colspan="2" align="right">Payment Total</td><td class="money">{{ invoice.total_paid|floatformat:money_precision }}</td></tr>
</table>
{% if invoice.item_and_tax_total != invoice.total_paid %}<p><strong>Oh crap; item total and payment total do not match!</strong></p>
{% endif %}
{% if invoice.notes %}
<h4>Notes</h4>
<p>{{ invoice.notes }}</p>
{% endif %}

<p>
  <button id="print-invoice">Print</button>
  <span id="receipt-printer-status">No receipt printer detected.</span>
</p>

{{ json_data|json_script:"json-data" }}

<script>
setUpReceiptPrinter('receipt-printer-status');

const json = JSON.parse(document.getElementById('json-data').textContent);

function stringElipsis(text, length) {
    if (text.length > length) {
        return text.slice(0, length - 3) + '...';
    }
    return text
}

function layoutSliceRight(left, right, width) {
  return left + sliceAndPadStart(right, width - left.length);
}

function layoutSliceLeft(left, right, width) {
  return sliceAndPadEnd(left, width - right.length) + right;
}

function sliceAndPadStart(text, width) {
  return text.slice(0, width).padStart(width, ' ');
}

function sliceAndPadEnd(text, width) {
  return text.slice(0, width).padEnd(width, ' ');
}

function invoiceBody(encoder, pageWidth) {
  encoder
      .line(layoutSliceRight('Invoice: ', `${json.invoicePrefix}${json.invoiceId}`, pageWidth))
      .line(layoutSliceRight('Date: ', json.invoiceDate, pageWidth))
      .line(layoutSliceRight('Bidder name: ', json.bidderName, pageWidth))
      .line(layoutSliceRight('Bidder ID: ', json.bidderIds.join(', '), pageWidth))
      .newline()
      .bold(true).line(layoutSliceRight('Item', 'Amount', pageWidth)).bold(false);

  for (let item of json.items) {
    encoder
        .line(layoutSliceLeft(
            `${item.code}${item.reproductionRightsIncluded ? '*' : ''} - ${item.artistName}`,
            ` \$${item.price}`, pageWidth))
        .line('"' + stringElipsis(item.name, pageWidth - 2) + '"');
  }

  encoder
      .newline()
      .line(layoutSliceRight('Items: ', `${json.items.length}`, pageWidth))
      .newline()
      .line(layoutSliceLeft('Sub-total', ` \$${json.itemTotal}`, pageWidth))
      .line(layoutSliceLeft(json.taxDescription, ` \$${json.taxPaid}`, pageWidth))
      .newline()
      .line(layoutSliceLeft('Total', ` \$${json.totalPaid}`, pageWidth))
      .newline()
      .bold(true).line(layoutSliceRight('Payment', 'Amount', pageWidth)).bold(false);

  for (let payment of json.payments) {
    encoder.line(layoutSliceLeft(
        `${payment.method} ${payment.notes}`, ` \$${payment.amount}`, pageWidth));
  }

  encoder.newline();

  if (json.hasReproductionRights) {
    encoder
        .line('This sale includes reproduction rights for')
        .line('the piece numbers marked above with the')
        .text('asterisk (*) symbol. All other pieces ').bold(true).line('do')
        .text('not').bold(false).line(' include reproduction rights.');
  } else {
    encoder
        .text('This transaction ').bold(true).text('does not').bold(false).line(' include')
        .line('reproduction rights to the pieces sold.');
  }
}

document.getElementById('print-invoice').addEventListener('click', async () => {
  const pageWidth = 42;
  const encoder = new EscPosEncoder();
  encoder
      .initialize()

      // Pick list
      .align('center')
      .width(2)
      .height(2)
      .line('Pick List')
      .newline()
      .width(1)
      .height(1)
      .align('left')
      .line(layoutSliceRight('Bidder ID: ', json.bidderIds.join(', '), pageWidth))
      .newline()
      .bold(true).line(layoutSliceLeft('Item', 'Location', pageWidth)).bold(false);

  for (let item of json.items) {
    encoder
        .line(layoutSliceLeft(
            `${item.code} - ${item.artistName}`,
            ` ${item.location}`, pageWidth))
        .line('"' + stringElipsis(item.name, pageWidth - 2) + '"');
  }

  // Feed and cut.
  encoder
      .raw([0x0A, 0x0A])
      .raw([0x1D, 0x56, 66, 0])

      // Merchant copy
      .align('center')
      .width(2)
      .height(2)
      .line('Invoice')
      .newline()
      .width(1)
      .height(1)
      .align('left');
  invoiceBody(encoder, pageWidth);
  encoder
      .newline()
      .line('By signing below I acknowledge that I have')
      .line('received all the items listed above and')
      .line('that this sale is final.')
      .newline()
      .newline()
      .newline()
      .line('Sign: ____________________________________')
      // Feed and cut.
      .raw([0x0A, 0x0A])
      .raw([0x1D, 0x56, 66, 0])

      // Customer copy
      .align('center')
      .width(2)
      .height(2)
      .line('Receipt')
      .newline()
      .width(1)
      .height(1)
      .align('left');
  invoiceBody(encoder, pageWidth);
  encoder
      // Feed and cut.
      .raw([0x0A, 0x0A])
      .raw([0x1D, 0x56, 66, 0]);

  printReceipt(encoder.encode());
});

</script>
{% endblock %}
