{% extends "artshow/base_generic.html" %}
{% load static %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow-cashier' %}">Cashier</a></li>
        <li class="current">Bidder: {{ bidder.person.name }}</li>
    </ul>
{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}artshow/cashierstyle.css" />
  <title>Bidder Information</title>
  <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'artshow/decimal.min.js' %}"></script>
  <script>
	Decimal.set({ rounding: Decimal.ROUND_HALF_EVEN });

    $(function() {
    	$('.selecttable').each(function() {
    		var selecttable = $(this);
    		var selectall = selecttable.find('.selectallcontrol');
    		var checkboxes = selecttable.find('.selectrow [type=checkbox]'); // TODO Not specific enough
    		function autocheck_selectall() {
    			selectall.prop('checked', ! checkboxes.is(':not(:checked)'));
    		}
    		selectall.change(function(event) {
    			checkboxes.prop('checked', selectall.is(':checked'));
    			selecttable.trigger('update');
    			return true;
    		});
    		checkboxes.change(function(event) {
    			autocheck_selectall();
    			selecttable.trigger('update');
    			return true;
    		});
    		autocheck_selectall();
    	});
    });

    $(function() {
    	$('.purchasetable').each(function() {
    		var purchasetable = $(this);
    		var precision = Math.floor(purchasetable.attr('precision'));
    		var taxrate = purchasetable.attr('taxrate');
    		var amountclass = "." + purchasetable.attr('amountclass');
    		var subtotalfield = purchasetable.find('.subtotalfield');
    		var taxfield = purchasetable.find('.taxfield');
    		var totalfield = purchasetable.find('.totalfield');
    		function update() {
    			var subtotal = new Decimal(0);
    			purchasetable.find('.purchaseitem').each(function() {
    				var item = $(this);
    				if (item.find('[type=checkbox]').is(':checked')) { // not specific enough
	    				subtotal = subtotal.plus(new Decimal(item.find(amountclass).text()));
	    				item.find('.money').removeClass('excluded');
    				} else {
	    				item.find('.money').addClass('excluded');
    				}
    			});
    			subtotalfield.text(subtotal.toFixed(2));
    			var tax = subtotal.times(taxrate);
    			taxfield.text(tax.toFixed(2));
    			var total = subtotal.plus(tax);
    			totalfield.text(total.toFixed(2));
    			totalfield.trigger('totalupdated');
    		}
    		purchasetable.bind('update', update);
    		update();
    	});
    });
  </script>
{% endblock %}
{% block content %}
<h1>Bidder Information</h1>
<table>
<tr><td>Name</td><td>{{ bidder.name }}</td></tr>
<tr><td>Bidder ID{{ bidder.bidder_ids|pluralize }}</td><td>{{ bidder.bidder_ids|join:", " }}</td></tr>
</table>

{% if bidder.invoice_set %}
    <a href="{% url 'artshow-cashier-bidder-invoices' bidder.id %}">{{ bidder.invoice_set.count }} invoice{{ bidder.invoice_set.count|pluralize }} found</a>
{% endif %}
{% if pending_bids %}
<hr>
<p>{{ bidder.name }} has <strong>{{ pending_bids|length }}</strong> piece{{ pending_bids|pluralize }} with a top bid but pending resolution</p>
<table>
<tr><th>Piece</th><th>Reason</th></tr>
{% for b in pending_bids %}
<tr><td>{{ b.piece }}</td><td>{{ b.pending_reason }}</td></tr>
{% endfor %}
</table>
{% endif %}
<hr>
<form action="{% url 'artshow-cashier-bidder' bidder_id=bidder.id %}" method="POST">{% csrf_token %}

<table class="selecttable purchasetable" precision="{{ money_precision }}" taxrate="{{ tax_rate }}" amountclass="amount">
<tr><th><label>Select All<input type="checkbox" class="selectallcontrol"/></label></th><th>Piece</th><th>Artist</th><th>Amount</th></tr>
{% for bid in available_bids %}
{% if bid.form.non_field_errors or bid.form.select.errors %}
<tr><td colspan="4">{{ bid.form.non_field_errors }}{{ bid.form.select.errors }}</td></tr>
{% endif %}
<tr class="selectrow purchaseitem"><td>{{ bid.form.select }}{{ bid.form.bid }}</td><td>{{ bid.piece.name }}</td><td>{{ bid.piece.artist.artistname }}</td><td class="amount money">{{ bid.amount|floatformat:money_precision }}</td></tr>
{% empty %}
<tr><td colspan="4">No pieces to select from.</td></tr>
{% endfor %}
{% if error %}
<tr><td colspan="4">{{ error }}</td></tr>
{% endif %}
<tr><td colspan="3" align="right">Subtotal: <span class="subtotalfield"></span> &mdash; Tax:</td><td class="taxfield money"></td></tr>
<tr class="lastrow"><td colspan="3" style="text-align: right;">Total:</td><td class="totalfield money" id="totalwithtax" ></td></tr>
</table>

<input class="createinvoicebutton" type="submit" value="Create Invoice"/>

</form>

{% endblock %}
