{% load static %}
<html>
<head>
<title>Art Show Control Forms</title>
<link rel="stylesheet" type="text/css" href="{% static 'artshow/control_form.css' %}">
</head>
<body>
{% for artist in artists %}
<div class="container">
<div class="header">
  <div><h1>{{ SITE_NAME }} Control Form</h1></div>
  <div>
    <div class="artist-number">
      Artist Number <div class="artist-number-box shaded">{{ artist.artistid }}</div>
    </div>
  </div>
</div>

<div class="top-fields">
  {% with person=artist.person %}
  <div class="field">
    <div class="field-label">Legal name</div>
    <div class="field-line">{{ person.name|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">Artist name</div>
    <div class="field-line">{{ artist.artistname|default:"&nbsp" }}</div>
  </div>
  <div class="field" style="grid-row: span 2">
    <div class="field-label">Address</div>
    <div class="field-line">{{ person.address1|default:"&nbsp" }}{% if person.address2 %}<br>{{ person.address2 }}{% endif %}</div>
  </div>
  <div class="field">
    <div class="field-label">City</div>
    <div class="field-line">{{ person.city|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">State/province</div>
    <div class="field-line">{{ person.state|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">ZIP/postal code</div>
    <div class="field-line">{{ person.postcode|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">Country</div>
    <div class="field-line">{{ person.country|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">Telephone</div>
    <div class="field-line">{{ person.phone|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">E-mail</div>
    <div class="field-line">{{ person.email|default:"&nbsp" }}</div>
  </div>
  <div class="field">
    <div class="field-label">Ship unsold art?</div>
    <div class="option">
      <div class="checkbox"></div><span>No</span>
      <div class="checkbox"></div><span>Yes, via <div class="line">&nbsp;</div></span>
    </div>
  </div>
  <div class="field">
    <div class="field-label">Insure for</div>
    <div class="field-line">&nbsp</div>
  </div>
  <div style="font-size: 8pt;">
    By authorizing the event to return unsold art by mail, the artist agrees
    to pay for shipping and insurance costs, which will be invoiced after the
    art is returned.
  </div>
  <div class="field">
    <div class="field-label">
      Authorization to ship
      <div class="note">Sign to authorize shipping and insurance</div>
    </div>
    <div class="field-line">&nbsp;</div>
  </div>
  <div class="field">
    <div class="field-label">
      Agent name
      <div class="note">If an agent is handling art</div>
    </div>
    <div class="field-line">&nbsp;</div>
  </div>
  <div class="field">
    <div class="field-label">
      Agent authorization
      <div class="note">Artist must sign for an agent to be authorized</div>
    </div>
    <div class="field-line">&nbsp;</div>
  </div>
  {% endwith %}
</div>

<table>
  <thead>
    <th style="width:40px">Piece no.</th>
    <th style="width:100%">Title of piece</th>
    <th style="width:40px">Adult (Y/N)</th>
    <th style="width:80px">Minimum bid</th>
    <th style="width:80px">Buy now price (opt.)</th>
    <th style="width:40px" class="shaded">Loca-tion</th>
    <th style="width:80px" class="shaded">Winning bidder #</th>
    <th style="width:80px" class="shaded">Winning bid</th>
  </thead>
  {% for piece in artist.ordered_pieces %}
  <tr>
    <td>{{ piece.pieceid }}</td>
    <td>{{ piece.name }}</td>
    <td>{{ piece.adult|yesno }}</td>
    <td>{% if piece.not_for_sale %}NFS{% else %}${{ piece.min_bid }}{% endif %}</td>
    <td>{% if piece.buy_now %}${{ piece.buy_now }}{% else %}N/A{% endif %}</td>
    <td class="shaded">{{ piece.location }}</td>
    {% with bid=piece.top_bid %}
    <td class="shaded">{{ bid.bidderid.id }}</td>
    <td class="shaded">{% if bid %}${{ bid.amount }}{% endif %}</td>
    {% endwith %}
  </tr>
  {% endfor %}
</table>

<p>
  Please sign below to acknowledge satisfactory check-in and check-out. Do not
  sign until you are at the show and have finished check-in with the staff.
</p>

<div class="bottom-fields">
  <div class="field">
    <div class="field-label">Artist check-in</div>
    <div class="field-line">&nbsp;</div>
  </div>
  <div class="field">
    <div class="field-label">Artist check-out</div>
    <div class="field-line">&nbsp;</div>
  </div>
  <div class="field">
    <div class="field-label">Staff check-in</div>
    <div class="field-line">&nbsp;</div>
  </div>
  <div class="field">
    <div class="field-label">Staff check-out</div>
    <div class="field-line">&nbsp;</div>
  </div>
</div>
</div>
{% endfor %}
</body>
</html>
