{% extends "artshow/base_generic.html" %}
{% block content %}
    <p>Welcome to the {{ artshow_settings.ARTSHOW_SHOW_NAME }} management website.</p>
    <p>If you want to exhibit your artwork in the show, you will need to:</p>
    <ol>
        <li>Read and agree to our <a href="{{ artshow_settings.ARTSHOW_ARTIST_AGREEMENT_URL }}">rules</a>.</li>
        <li><a href="{% url 'artshow-register' %}">Register</a> for the show.</li>
    </ol>
    <p>If you have already registered for this year <a href="{% url 'artshow-manage' %}">click here</a> to manage your registration.</p>
{% endblock %}
