<html>
<head>
  <title>Invoice {{ invoice }}</title>
</head>
<body>
  <h1>{{ showstr }}</h2>
  <span class="label">Date: </span>{{ invoice.paid_date }}<br>
  <span class="label">Invoice: </span>{{ invoice }}<br>
  <span class="label">For: </span>{{ invoice.payer }}<br>
  <table>
    <tr>
      <th>Item</th>
      <th>Amount</th>
    </tr>
    {% for item in invoiceitems %}
    <tr>
      <td>{{ item.piece }}</td>
      <td>${{ item.price }}</td>
    </tr>
    {% endfor %}
  </table>
  <span class="label">{{ taxdescstr }}: </span>${{ invoice.tax_paid }}<br>
  <span class="label">Item count: </span>{{ invoiceitems.count }}<br>
  <span class="label">Total: </span>${{ invoice.total_paid }}<br>
  <table>
    <tr>
      <th>Payment method</th>
      <th>Notes</th>
      <th>Amount</th>
    </tr>
    {% for payment in invoice.invoicepayment_set.all %}
    <tr>
      <td>{{ payment.get_payment_method_display }}</td>
      <td>{{ payment.notes }}</td>
      <td>${{ payment.amount }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
