{% load static %}
<html>
<head>
<title>Invoice {{ invoice_prefix }}{{ invoice.id }}</title>
<link rel="stylesheet" type="text/css" href="{% static 'artshow/invoice.css' %}">
</head>
<body>

<!-- Merchant copy -->
<div class="page">

<div class="header">
  <div class="show_title">{{ showstr }}</div>
  <div class="invoice_title">Invoice</div>
  <div>Bidder name:</div>
  <div>{{ invoice.payer.name }}</div>
  <div class="right">Invoice:</div>
  <div class="right">{{ invoice_prefix }}{{ invoice.id }}</div>
  <div>Bidder ID{{ invoice.payer.bidder_ids|pluralize }}:</div>
  <div>{{ invoice.payer.bidder_ids|join:", " }}</div>
  <div class="right">Date:</div>
  <div class="right">{{ invoice.paid_date }}</div>
</div>
<table>
  <tr>
    <th>Item</th>
    <th>Amount</th>
  </tr>
  {% for item in invoice.invoiceitems %}
  <tr>
    <td>
      {{ item.piece }}
      {% if item.piece.reproduction_rights_included %}&dagger;{% endif %}
    </td>
    <td>${{ item.price }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td class="total">Sub-total</td>
    <td>${{ invoice.item_total }}</td>
  <tr>
    <td class="tax">{{ taxdescstr }}</td>
    <td>${{ invoice.tax_paid }}</td>
  </tr>
  <tr>
    <td class="total">Total</td>
    <td>${{ invoice.total_paid }}</td>
  </tr>
</table>

<p>Items: {{ invoice.invoiceitems.count }}</p>

<table>
  <tr>
    <th>Payment</th>
    <th>Amount</th>
  </tr>
  {% for payment in invoice.invoicepayment_set.all %}
  <tr>
    <td>{{ payment.get_payment_method_display }} {{ payment.notes }}</td>
    <td>${{ payment.amount }}</td>
  </tr>
  {% endfor %}
</table>

<p>
{% if has_reproduction_rights %}
  This sale includes reproduction rights for the pieces listed above with the
  (&dagger;) symbol. All other pieces <em>do not</em> include reproduction
  rights.
{% else %}
  This transaction <em>does not</em> include reproduction rights to the pieces
  sold.
{% endif %}
</p>

<p>
  By signing below I acknowledge that I have received all the items listed above
  and that this sale is final.
</p>
<p class="signature">Signature: _______________________________________</p>

</div>

<!-- Customer copy -->
<div class="page">

<div class="header">
  <div class="show_title">{{ showstr }}</div>
  <div class="invoice_title">Customer Copy</div>
  <div>Bidder name:</div>
  <div>{{ invoice.payer.name }}</div>
  <div class="right">Invoice:</div>
  <div class="right">{{ invoice_prefix }}{{ invoice.id }}</div>
  <div>Bidder ID{{ invoice.payer.bidder_ids|pluralize }}:</div>
  <div>{{ invoice.payer.bidder_ids|join:", " }}</div>
  <div class="right">Date:</div>
  <div class="right">{{ invoice.paid_date }}</div>
</div>

<table>
  <tr>
    <th>Item</th>
    <th>Amount</th>
  </tr>
  {% for item in invoice.invoiceitems %}
  <tr>
    <td>
      {{ item.piece }}
      {% if item.piece.reproduction_rights_included %}&dagger;{% endif %}
    </td>
    <td>${{ item.price }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td class="total">Sub-total</td>
    <td>${{ invoice.item_total }}</td>
  <tr>
    <td class="tax">{{ taxdescstr }}</td>
    <td>${{ invoice.tax_paid }}</td>
  </tr>
  <tr>
    <td class="total">Total</td>
    <td>${{ invoice.total_paid }}</td>
  </tr>
</table>

<p>Items: {{ invoice.invoiceitems.count }}</p>

<table>
  <tr>
    <th>Payment</th>
    <th>Amount</th>
  </tr>
  {% for payment in invoice.invoicepayment_set.all %}
  <tr>
    <td>{{ payment.get_payment_method_display }} {{ payment.notes }}</td>
    <td>${{ payment.amount }}</td>
  </tr>
  {% endfor %}
</table>

<p>
{% if has_reproduction_rights %}
  This sale includes reproduction rights for the pieces listed above with the
  (&dagger;) symbol. All other pieces <em>do not</em> include reproduction
  rights.
{% else %}
  This transaction <em>does not</em> include reproduction rights to the pieces
  sold.
{% endif %}
</p>

</div>

<!-- Pick list -->
<div class="page">

<div class="header">
  <div class="show_title">{{ showstr }}</div>
  <div class="invoice_title">Pick List</div>
  <div>Bidder name:</div>
  <div>{{ invoice.payer.name }}</div>
  <div class="right">Invoice:</div>
  <div class="right">{{ invoice_prefix }}{{ invoice.id }}</div>
  <div>Bidder ID{{ invoice.payer.bidder_ids|pluralize }}:</div>
  <div>{{ invoice.payer.bidder_ids|join:", " }}</div>
  <div class="right">Date:</div>
  <div class="right">{{ invoice.paid_date }}</div>
</div>

<table>
  <tr>
    <th>Item</th>
    <th>Location</th>
  </tr>
  {% for item in invoice.invoiceitems %}
  <tr>
    <td>{{ item.piece }}</td>
    <td>{{ item.piece.location }}</td>
  </tr>
  {% endfor %}
</table>

<p>Items: {{ invoice.invoiceitems.count }}</p>

</div>

</body>
</html>
