{% extends "artshow/manage_base.html" %}
{% block content %}
<p>
    Welcome to the Art Show! To register for space in the show, please fill in
    the following information.
<p>
<p>Once there, you'll be able to request space in the show, provide payment for the space, enter piece
    details, and so on.</p>

<form method="post">{% csrf_token %}
    <table>
    {{ artist_form.as_table }}
    {{ agreement_form.as_table }}
    </table>
    <p><input type="submit" value="Register"></p>
</form>
{% endblock %}
