{% load static %}
<html>
<head>
<title>Art Show Piece Stickers</title>
<link rel="stylesheet" type="text/css" href="{% static 'artshow/piece_stickers.css' %}">
</head>
<body>
<div>
{% for piece in pieces %}
{% if forloop.counter0|divisibleby:"60" %}</div><div class="container">{% endif %}
  <div class="sticker">
    <div class="artist">{{ piece.artist.artistname }}</div>
    <div class="name">{{ piece.name }}</div>
    <div class="media">{{ piece.media }}</div>
    <div class="piece_id">{{ piece.code }}</div>
  </div>
{% endfor %}
</div>
</body>
