{% extends "artshow/base_generic.html" %}
{% block title %}Artshow Reports{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li class="current">Reports</li>
    </ul>
{% endblock %}
{% block content %}
    <h3>General Stuff</h3>
    <ul>
        <li><a href="{% url "artshow-report-artists" %}">Showing Artists</a></li>
        <li><a href="{% url "artshow-report-allocations-waiting" %}">Allocations Waiting</a></li>
        <li><a href="{% url "artshow-report-winning-bidders" %}">Winning Bidders</a></li>
        <li><a href="{% url "artshow-report-artist-to-panel" %}">Artist to Panel Report</a></li>
        <li><a href="{% url "artshow-report-panel-to-artist" %}">Panel to Artist Report</a></li>
        <li><a href="{% url "artshow-report-artist-payment" %}">Artist Payment Report</a></li>
        <li><a href="{% url "artshow-summary" %}">Show Summary</a></li>
        <li><a href="{% url "artshow-report-voice-auction" %}">Voice Auction</a>
            <ul>
                <li><a href="{% url "artshow-report-voice-auction" %}?adult=y">Adult</a></li>
                <li><a href="{% url "artshow-report-voice-auction" %}?adult=n">General</a></li>
            </ul>
        </li>
        <li><a href="{% url "artshow-report-percentiles" %}">Sales Percentiles</a></li>
    </ul>

    <h3>PDF Reports</h3>
    <ul>
        <li><a href="{% url "artshow-winning-bidders-pdf" %}">Winning Bidders</a></li>
    </ul>

    <h3>CSV Reports</h3>
    <ul>
        <li><a href="{% url "artshow-artists-csv" %}">Artists</a></li>
        <li><a href="{% url "artshow-pieces-csv" %}">Pieces</a></li>
        <li><a href="{% url "artshow-bidders-csv" %}">Bidders</a></li>
        <li><a href="{% url "artshow-payments-csv" %}">Payments</a></li>
        <li><a href="{% url "artshow-cheques-csv" %}">Cheques</a></li>
    </ul>
{% endblock %}
