{% extends "artshow/base_generic.html" %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow-reports' %}">Reports</a></li>
        <li class="current">Winning Bidders</li>
    </ul>
{% endblock %}
{% block content %}
    <table class="winning-bidders-report">
        <thead>
        <tr class="header">
            <th>Bidder</th>
            <th>Piece</th>
            <th>Amount</th>
            <th>Notes</th>
        </tr>
        </thead>
        {% for bidder in bidders %}
            <tbody>
            {% for piece in bidder.pieces %}
                <tr>
                    {% if forloop.first %}<th class="bidder" rowspan="{{ bidder.pieces|length }}">{{ bidder.bidder_ids|join:", " }}</th>{% endif %}
                    <td>{{ piece.code }} - <i>{{ piece.title }}</i> by {{ piece.artistname }}</td>
                    <td>{{ piece.winning_bid }}</td>
                    <td>{{ piece.voice_auction|yesno:"Voice Auction," }}</td>
                </tr>
            {% empty %}
                <tr>
                    <th class="bidder">{{ bidder.bidder_ids|join:", " }}</th>
                    <td colspan="3">No winning bids</td>
                </tr>
            {% endfor %}
            </tbody>
        {% endfor %}
    </table>
{% endblock %}
