{% extends "artshow/base_generic.html" %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'artshow-reports' %}">Reports</a></li>
        <li class="current">Show Summary</li>
    </ul>
{% endblock %}
{% block content %}
    <title>Show Summary | {{ SITE_NAME }}</title>

    <table>
        <tr>
            <th>Artists Registered</th><td>{{ artist_stats.count }}</td>
        </tr>
        <tr>
            <th>Artists Active (Requested Space)</th><td>{{ artist_stats.count_active }}</td>
        </tr>
        <tr>
            <th>Artists Showing (Allocated Space)</th><td>{{ artist_stats.count_showing }}</td>
        </tr>
    </table>
    <br/>

    <table>
    <tr><th>Space</th><th>Available</th><th>Requested</th><th>Allocated</th></tr>
    {% for s in spaces %}
        <tr>
            <th>{{ s }}</th>
            <td>{{ s.available }}</td>
            <td>{{ s.requested }} ({{ s.requested_perc|floatformat:1 }}%)</td>
            <td>{{ s.allocated2 }} ({{ s.allocated_perc|floatformat:1 }}%)</td>
        </tr>
    {% endfor %}
        <tr class="totalsrow">
            <th>Total</th>
            <td>{{ total_spaces.available }}</td>
            <td>{{ total_spaces.requested }} ({{ total_spaces.requested_perc|floatformat:1 }}%)</td>
            <td>{{ total_spaces.allocated }} ({{ total_spaces.allocated_perc|floatformat:1 }}%)</td>
        </tr>
    </table>
    <br/>

    <table>
        <tr>
            <th></th>
            <th>All</th>
            <th>General</th>
            <th>Adult</th>
        </tr>
        <tr>
            <th>Number of Pieces Entered</th>
            <td align="right">{{ piece_stats.pieces_entered_all }}</td>
            <td align="right">{{ piece_stats.pieces_entered_general }}</td>
            <td align="right">{{ piece_stats.pieces_entered_adult }}</td>
        </tr>
        <tr>
            <th>Number of Pieces Showing</th>
            <td align="right">{{ piece_stats.pieces_showing_all }}</td>
            <td align="right">{{ piece_stats.pieces_showing_general }}</td>
            <td align="right">{{ piece_stats.pieces_showing_adult }}</td>
        </tr>
        <tr>
            <th>Pieces with Bids</th>
            <td align="right">{{ piece_stats.bids_all }}</td>
            <td align="right">{{ piece_stats.bids_general }}</td>
            <td align="right">{{ piece_stats.bids_adult }}</td>
        </tr>
        <tr>
            <th>Pieces in Voice Auction</th>
            <td align="right">{{ piece_stats.pieces_va_all }}</td>
            <td align="right">{{ piece_stats.pieces_va_general }}</td>
            <td align="right">{{ piece_stats.pieces_va_adult }}</td>
        </tr>
        <tr>
            <th>Total Bid Amounts</th>
            <td align="right">${{ piece_stats.bidamt_all|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.bidamt_general|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.bidamt_adult|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Bid Amounts in Voice Auction</th>
            <td align="right">${{ piece_stats.bidamt_va_all|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.bidamt_va_general|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.bidamt_va_adult|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Highest Bid</th>
            <td align="right">${{ piece_stats.highest_amt_all|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.highest_amt_general|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.highest_amt_adult|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Highest Bid in Voice Auction</th>
            <td align="right">${{ piece_stats.highest_amt_va_all|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.highest_amt_va_general|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.highest_amt_va_adult|stringformat:"0.2f" }}</td>
        </tr>
        <tr>
            <th>Highest Bid in Silent Auction</th>
            <td align="right">${{ piece_stats.highest_amt_sa_all|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.highest_amt_sa_general|stringformat:"0.2f" }}</td>
            <td align="right">${{ piece_stats.highest_amt_sa_adult|stringformat:"0.2f" }}</td>
        </tr>
    </table>
    <br/>

    <h3>Artist Payments, Charges and Assignments</h3>

    <table>
        {% for pt in payment_types %}
            <tr>
                <th>{{ pt }}</th>
                <td align="right">${{ pt.total_payments }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th>Balance</th>
            <td align="right">${{ total_payments }}</td>
        </tr>
    </table>

    <h3>Charges to Bidders</h3>

    <table>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>Pieces</td>
            <td align="right">{{ piece_charges }}</td>
        </tr>
        <tr>
            <td>Tax Paid</td>
            <td align="right">{{ tax_paid }}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td align="right">{{ total_charges }}</td>
        </tr>
    </table>

    <h3>Payments From Bidders</h3>

    <table>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        {% for ip in invoice_payments %}
            <tr>
                <td>{{ ip.payment_method_desc }}</td>
                <td align="right">{{ ip.total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            <td align="right">{{ total_invoice_payments }}</td>
        </tr>
    </table>
{% endblock %}
