{% extends "artshow/base_generic.html" %}
{% load static %}
{% block title %}Bidder: {{ bidder.name }}{% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'artshow/label_printer.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
      <li><a href="{% url 'artshow-home' %}">Home</a></li>
      <li><a href="{% url 'artshow-workflows' %}">Workflows</a></li>
      <li><a href="{% url 'artshow-workflow-bidder-lookup' %}">Bidder Check-in</a></li>
      <li class="current">Bidder: {{ bidder.name }}</li>
    </ul>
{% endblock %}
{% block content %}

<p>
  <strong>Name:</strong> {{ bidder.name }}<br>
  <strong>Reg ID:</strong> {{ bidder.person.reg_id }}<br>
</p>

<p>
<form method="post" action="{% url 'artshow-workflow-bidder' bidder.pk %}">
{% csrf_token %}
{{ manual_id_formset.management_form }}
<table>
<tr><th>Bidder IDs</th></tr>
{% for id in bidder.bidder_ids %}
<tr>
  <td>{{ id }}</td>
</tr>
{% endfor %}
{% for form in manual_id_formset %}
<tr>
  <td>{{ form.bidderid.errors }}{{ form.bidderid }}</td>
</tr>
{% endfor %}
<tr>
  <td><input type="submit" value="Add IDs"/></td>
</tr>
</table>
</form>
</p>

<p>
<form method="post" action="{% url 'artshow-workflow-bidder-auto-id' bidder.pk %}">
{% csrf_token %}
{{ auto_id_form.non_field_errors }}
<input type="submit" value="Automatically Assign ID"/>
</form>
</p>

<p>
  <button id="print_form">Print Bidder Agreement</button>
</p>

<p>
  <input type="number" min="1" max="10" value="10" id="bid-sticker-count">
  <button id="print-bid-stickers">Print Bid Stickers</button>
  <span id="label-printer-status">No label printer detected.</span>
</p>

<iframe id="form_iframe" src="{% url 'artshow-bidder-agreement' bidder.pk %}" style="display: none"></iframe>

{{ json_data|json_script:"json-data" }}

<script>
document.getElementById('print_form').addEventListener('click', function () {
  document.getElementById('form_iframe').contentWindow.print();
  return false;
});

setUpLabelPrinter('label-printer-status');

const json = JSON.parse(document.getElementById('json-data').textContent);
const stickerCount = document.getElementById('bid-sticker-count');
const printButton = document.getElementById('print-bid-stickers');
printButton.disabled = json.bidderId == null;
printButton.addEventListener('click', async () => {
  const data = `N
A50,40,0,7,2,2,N,"${json.bidderId}"
A160,46,0,5,1,1,N,"$"
LO160,100,165,5
P${stickerCount.value}
`;

  printLabels(data);
});
</script>
{% endblock %}
