{% extends "artshow/base_generic.html" %}
{% load static %}
{% load artshow_extras %}
{% block title %}{{ artist.name }} ({{ artist.artistid }}){% endblock %}
{% block extra_head %}
<script type="text/javascript" src="{% static 'artshow/codepage-encoder-3125d35.js' %}"></script>
<script type="text/javascript" src="{% static 'artshow/label_printer.js' %}"></script>
{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
      <li><a href="{% url 'artshow-home' %}">Home</a></li>
      <li><a href="{% url 'artshow-workflows' %}">Workflows</a></li>
      <li><a href="{% url 'artshow-workflow-artist-checkin-lookup' %}">Artist Check-in</a></li>
      <li class="current">{{ artist.name }} ({{ artist.artistid }})</li>
    </ul>
{% endblock %}
{% block content %}

<p>
  <button id="select-all">Select All</button>
  <button id="select-none">Select None</button>
</p>

<script>
document.getElementById('select-all').addEventListener('click', () => {
  const formCount = Number(document.getElementById('id_piece_set-INITIAL_FORMS').value);
  for (let i = 0; i < formCount; ++i) {
    document.getElementById(`id_piece_set-${i}-print_item`).checked = true;
  }
});

document.getElementById('select-none').addEventListener('click', () => {
  const formCount = Number(document.getElementById('id_piece_set-INITIAL_FORMS').value);
  for (let i = 0; i < formCount; ++i) {
    document.getElementById(`id_piece_set-${i}-print_item`).checked = false;
  }
});
</script>

{% if artist.agent_names %}
<p>
  <b>Agent{{ artist.agent_names|pluralize }}</b>: {{ artist.agent_names|join:', ' }}
</p>
{% endif %}

<form id="main-form" method="post">{% csrf_token %}
  {{ formset.management_form }}
  <table>
    <tr>
      <th>Print</th>
      <th>Piece ID</th>
      <th>Name/Title</th>
      <th>Media</th>
      <th>Adult?</th>
      <th>Reproduction rights included?</th>
      <th>Not For Sale</th>
      <th>Min Bid</th>
      <th>Buy Now</th>
      <th>Location</th>
    </tr>
    {% for form in formset %}
    {% if form.non_field_errors %}
    <tr>
        <td colspan="10">{{ form.non_field_errors }}</td>
    </tr>
    {% endif %}
    <tr>{{ form.id.errors }}{{ form.id }}{{ form.artist.errors }}{{ form.artist }}
      <td>{{ form.print_item.errors }}{{ form.print_item }}</td>
      <td>{{ form.pieceid.errors }}{{ form.pieceid }}</td>
      <td>{{ form.name.errors }}{{ form.name }}</td>
      <td>{{ form.media.errors }}{{ form.media }}</td>
      <td>{{ form.adult.errors }}{{ form.adult }}</td>
      <td>{{ form.reproduction_rights_included.errors }}{{ form.reproduction_rights_included }}</td>
      <td>{{ form.not_for_sale.errors }}{{ form.not_for_sale }}</td>
      <td>{{ form.min_bid.errors }}{{ form.min_bid }}</td>
      <td>{{ form.buy_now.errors }}{{ form.buy_now }}</td>
      <td>{{ form.location.errors }}{{ form.location|tabindex:forloop.counter }}</td>
    </tr>
    {% endfor %}
  </table>
  <p>
    <button type="submit" formaction="{% url 'artshow-workflow-artist-checkin-control-form' artistid=artist.artistid %}">Save & Print Control Form</button>
    <button type="submit" formaction="{% url 'artshow-workflow-artist-bid-sheets' artistid=artist.artistid %}">Save & Print Bid Sheets</button>
    <button type="submit" formaction="{% url 'artshow-workflow-artist-checkin' artistid=artist.artistid %}">Save</button>
  </p>
</form>

<p>
  <button id="print-piece-stickers">Print Piece Stickers</button>
  <span id="label-printer-status">No label printer found.</span>
</p>

{{ json_data|json_script:"json-data" }}

<script>
const mainForm = document.getElementById('main-form');
const printPieceStickers = document.getElementById('print-piece-stickers');

setUpLabelPrinter('label-printer-status');

const json = JSON.parse(document.getElementById('json-data').textContent);

function escape(text) {
  return text.replaceAll('\\', '\\\\').replaceAll('"', '\\"');
}

function squashEncoding(text) {
  const encoded = CodepageEncoder.encode(text, 'cp437');
  return new TextDecoder().decode(encoded);
}

printPieceStickers.addEventListener('click', async () => {
  const stickers = [];
  const formCount = Number(document.getElementById('id_piece_set-TOTAL_FORMS').value);
  for (let i = 0; i < formCount; ++i) {
    if (!document.getElementById(`id_piece_set-${i}-print_item`).checked) {
      continue;
    }

    const pieceId = document.getElementById(`id_piece_set-${i}-pieceid`).value;
    const pieceName = document.getElementById(`id_piece_set-${i}-name`).value;
    const media = document.getElementById(`id_piece_set-${i}-media`).value;

    stickers.push({pieceId, pieceName, media});
  }

  let data = '';
  for (const sticker of stickers) {
    const artistName = squashEncoding(json.artistName);
    const pieceName = squashEncoding(sticker.pieceName);
    const media = squashEncoding(sticker.media);

    data += `N
A25,5,0,2,1,1,N,"${escape(artistName.slice(0, 24))}"
A25,45,0,2,1,1,N,"${escape(pieceName.slice(0, 24))}"
A25,65,0,2,1,1,N,"${escape(pieceName.slice(24, 49))}"
A25,105,0,2,1,1,N,"${escape(media.slice(0, 24))}"
A355,5,1,2,2,2,N,"${json.artistId}-${sticker.pieceId}"
JB
P1
`;
  }
  data += 'JF\n';
  printLabels(data);
});
</script>

{% endblock %}
