{% extends "artshow/base_generic.html" %}
{% block title %}Workflows{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
      <li><a href="{% url 'artshow-home' %}">Home</a></li>
      <li class="current">Workflows</li>
    </ul>
{% endblock %}
{% block content %}
    <ul>
      <li><a href="{% url "artshow-workflow-printing" %}">Bid Sheet and Control Form Printing</a></li>
      <li><a href="{% url 'artshow-workflow-bidder-lookup' %}">Assign Bidder IDs</a></li>
      <li><a href="{% url 'artshow-workflow-artist-checkin-lookup' %}">Artist Check-in</a></li>
    </ul>
{% endblock %}
