{% extends "artshow/base_generic.html" %}
{% block breadcrumbs %}
<ul class="breadcrumbs">
    <li><a href="{% url 'artshow-home' %}">Home</a></li>
    <li><a href="{% url 'artshow-workflows' %}">Workflows</a></li>
    <li class="current">Pair Square Terminal</li>
</ul>
{% endblock %}
{% block content %}
<p>Paired terminals (<a href="{% url 'artshow-workflow-pair-terminal' %}">refresh</a>):</p>
<table>
    <tr>
        <th>Name</th>
        <th>Device Code</th>
        <th>Checkout</th>
        <th>Select</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td>{{ device.name }}</td>
        <td>{{ device.code }}</td>
        <td>
            {% if device.checkout_id %}
            <form method="post" action="{% url 'artshow-workflow-cancel-checkout' device.pk %}">
                {% csrf_token %}
                <button type="submit">Cancel</button>
            </form>
            {% else %}
            <i>None</i>
            {% endif %}
        <td>
            {% if device.pk == selected_device %}
            Selected
            {% else %}
            <form method="post" action="{% url 'artshow-workflow-select-terminal' device.pk %}">
                {% csrf_token %}
                <button type="submit">Select</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Pair new terminal</button>
</form>
{% if device_code %}
<p>
    Log into the terminal with the following code: <b>{{ device_code }}</b>
</p>
{% endif %}
{% endblock %}

