{% extends "artshow/base_generic.html" %}
{% block breadcrumbs %}
    <ul class="breadcrumbs">
      <li><a href="{% url 'artshow-home' %}">Home</a></li>
      <li><a href="{% url 'artshow-workflows' %}">Workflows</a></li>
      <li><a href="{% url 'artshow-workflow-bidder-lookup' %}">Bidder Check-in</a></li>
      <li class="current">Bidder: {{ bidder.name }}</li>
    </ul>
{% endblock %}
{% block content %}

<p>
  <strong>Name:</strong> {{ bidder.name }}<br>
  <strong>Reg ID:</strong> {{ bidder.person.reg_id }}<br>
</p>

<p>
<form method="post" action="{% url 'artshow-workflow-bidder' bidder.pk %}">
{% csrf_token %}
{{ manual_id_formset.management_form }}
<table>
<tr><th>Bidder IDs</th></tr>
{% for id in bidder.bidder_ids %}
<tr>
  <td>{{ id }}</td>
</tr>
{% endfor %}
{% for form in manual_id_formset %}
<tr>
  <td>{{ form.bidderid.errors }}{{ form.bidderid }}</td>
</tr>
{% endfor %}
</table>
<input type="submit" value="Add IDs" />
</form>
</p>

<p>
<form method="post" action="{% url 'artshow-workflow-bidder-auto-id' bidder.pk %}">
{% csrf_token %}
{{ auto_id_form.non_field_errors }}
<input type="submit" value="Automatically Assign ID"/>
</form>
</p>

<p>
  <button id="print_form">Print Bidder Agreement</button>
</p>

<iframe id="form_iframe" src="{% url 'artshow-bidder-agreement' bidder.pk %}" style="display: none"></iframe>

<script>
document.getElementById('print_form').addEventListener('click', function () {
  document.getElementById('form_iframe').contentWindow.print();
  return false;
});
</script>
{% endblock %}
