body {
  -webkit-print-color-adjust: exact;
}

.notice {
  text-align: center;
  padding: 0px 40px;
}

.fields {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 1fr;
}

.field {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  height: 30px;
}

.full-width-field {
  grid-column: 1 / 3;
}

.field-label {
  align-self: end;
}

.field-line {
  border-bottom: 1px solid black;
  align-self: end;
}

.staff-only-fields {
  display: grid;
  grid-gap: 1px;
  grid-auto-flow: column;
  grid-template-rows: 20px repeat(3, 1fr);
  grid-template-columns: 2fr 1fr;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px 10px 10px 10px;
  margin: 10px 0;
}

.staff-only-label {
  text-align: center;
  grid-column: 1 / 3;
  font-variant: small-caps;
}

.option {
  align-self: end;
}

.bidder-label {
  align-self: center;
  justify-self: center;
}
