body {
  margin: 0;
}

.page {
  position: relative;
  width: 8.5in;
  height: 11in;
  page-break-after: always;
}

.cheque_date {
  position: absolute;
  left: 7.5in;
  top: 0.9in;
}

.cheque_payee {
  position: absolute;
  left: 1in;
  top: 1.45in;
}

.cheque_amount {
  position: absolute;
  left: 7.5in;
  top: 1.45in;
}

.cheque_amount_words {
  position: absolute;
  left: 0.375in;
  top: 1.8125in;
}

.cheque_memo {
  position: absolute;
  left: 0.75in;
  top: 2.8in;
}

.mailing_label {
  display: none;
}

.summary_payee {
  position: absolute;
  left: 0in;
  top: 3.5in;
  margin: 0.5in;
  width: 100%;
}

.summary {
  position: absolute;
  left: 0in;
  top: 7.25in;
  margin: 0.5in;
  width: 100%;
}

table {
  width: 100%;
}

th {
  text-align: left;
}
