@page {
  margin: 0.5in;
}

body {
  margin: 0;
  -webkit-print-color-adjust: exact;
}

.container {
  width: 8in;
  box-sizing: border-box;
  page-break-after: always;
}

h1 {
  font-size: 16pt;
}

.shaded {
  background-color: lightgray;
}

div.header {
  display: grid;
  grid-template-columns: 1fr 1fr
}

div.artist-number {
  float: right;
}

div.artist-number-box {
  display: inline-block;
  border: 1px solid black;
  width: 5em;
  padding: 2;
}

div.field {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
}

div.small-field {
  display: grid;
  grid-template-columns: fit-content(100px) 1fr;
  grid-gap: 10px;
}

div.field-label {
  text-align: right;
  align-self: end;
}

div.field-line {
  border-bottom: 1px solid black;
  align-self: end;
}

div.top-fields {
  margin: 10px 0px;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr 1fr;
}

div.bottom-fields {
  margin: 10px 0px;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 30px);
  grid-template-columns: repeat(2, 1fr);
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;
}

table, th, td {
  border: 1px solid black;
  table-layout: fixed;
}

th, td {
  padding: 4px;
}

.option {
  align-self: end;
}

.checkbox {
  margin: 0px 5px;
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid black;
}

.line {
  display: inline-block;
  width: 6em;
  border-bottom: 1px solid black 
}

.note {
  font-size: 6pt;
}
